/* #region all */

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
    }
p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }

h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    }
    .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }

/* #endregion all */

/* #region header*/

.page-header {
border-bottom: 1px solid #e7e9fc;
     }

     .header-container {
        display: flex;
        align-items: center;
     }

.logo {
        font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.167;
        letter-spacing: 0.03em;
        color:#2E2F42;
        text-decoration: none;
        text-transform: uppercase;
        padding: 24px 0;
        margin-right: 76px;
    }
.span-logo-top{
        color: #4D5AE5;
    }
    
.main-nav {
        color: #2E2F42;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        

    }

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
    
.nav-link{
        color: #2E2F42;
        text-decoration: none;
        padding: 24px 0;
        display: block;
     }

.nav-link:hover {
     color: #404BBF;
    }
.nav-link:focus {
    color: #404BBF;
}


.address {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
        margin-left: auto;
    }

    .header-address {
        display: flex;
        align-items: center;
        gap: 40px;
        
    }
    
.address-link:hover {
        color: #404BBF;
    }
.address-link:focus {
    color: #404BBF;
}

    .address-link {
        color: #434455;
        text-decoration: none;
        display: block;
        padding: 24px;
    }

    /* #endregion header */
 
/* #region hero */

.main-hero {
    background-color: #2E2F42;  
    margin-bottom: 120px;
        
        }
        
        
.container-hero {
        display: block;
        justify-items:center;

        }

.main-hero-tittle {
        font-family: Roboto;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.071;
        letter-spacing: 0.02em;
        color: #ffffff;
        padding: 188px 0 0 0;
        margin-bottom: 48px; 
        max-width: 496px;
        text-align: center;
        

}

.main-hero-button {
    margin-bottom: 188px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4D5AE5;
        cursor: pointer;
        border-radius: 4px; 
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        
}
.main-hero-button:hover {
    background-color: #404BBF;
}

.main-hero-button:focus {
    background-color: #404BBF;
}

/* #endregion hero */

/* #region our feature*/

.our-feature-tittle {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }


.our-feature-list {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.our-feature-item {
    width: 264px;
}

.our-feature-subtitle {
    margin-bottom: 8px;

}
.our-feature-text {
    padding-bottom: 120px;

}

/* #endregion our feature*/
/* #region our team */

.our-team {
    background-color: #F4F4FD;
}
.text-our-team {
    text-align: center;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.111;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }

.main-mark-guerrero {
    background-color: #ffffff;

}

.main-tom-ford {
    background-color: #ffffff;
}

.main-camila-garcia {
    background-color: #ffffff;
}

.main-daniel-wilson {
    background-color: #ffffff;
}

.name-worker {
    text-align: center;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.profesion{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* #endregion our team */

/* #region portfolio */

.our-portfolio{
    background-color: #ffffff;
}

.text-our-portfolio{
    text-align: center;
}

.name-service{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.text-service{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* #endregion portfolio */

/* #region footer */

.footer {
    background-color: #2E2F42;
}

.logo-footer {
        font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.167;
        letter-spacing: 0.03em;
        color: #F4F4FD;
        text-decoration: none;
        text-transform: uppercase;
}

.span-logo-bottom {
    color: #4D5AE5;
}

.text-footer{
    color: #F4F4FD;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* #endregion footer */
